@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url(../public/Inter-VariableFont.ttf);
}

@layer base {
  :root {
    font-family:
      'Inter',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #191919;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --danger: #ff3333;
    --error-body: '#ff3333';

    --background: #fff;
    --foreground: #191919;
    --bg-secondary: #f9fafc;
    --fg-secondary: #333;

    --chat-background: #ebf5fa;

    --btn-accent: #f0f0f3;

    --node: #fff;
    --node-header: #f9fafc;

    --border: #e4e8ee;
    --border-node-selected: #94a3b8;
    --border-darker: #d6dae0;
    --contrast-border: #111;

    --header-btn-hover: #f3f5f8;

    --flow-card-trash-btn: #fff;

    --input-background: #fff;
    --input-background-disabled: #f9fafc;
    --input-foreground: #191919;
    --input-border: #8d96b5;
    --input-border-focus: #000;
    --input-border-error: #ff3333;

    --select-button: #f0f0f3;
    --select-item-hover: #e4e4e7; /* or (#d4d4d8) */

    --table-background: #f9fafc;

    --condition-input-handle: #67b5ff;
    --condition-output-handle: #ff963b;
    --condition-link-input: #f5b75a;

    --text: #000000e5;
    --text-secondary: #000000b2;
    --text-addition: #8d96b5;

    --double-active: #fff;
    --double-inactive: hsl(210 40% 98%);

    --round-btn-shadow: #00000063;

    --error-background: #fef2f2;
    --error-foreground: #991b1b;

    --success-background: #f0fdf4;
    --success-foreground: #14532d;

    --info-background: #f0f4fd;
    --info-foreground: #141653;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;

    --condition-default: #3300ff;
    --condition-custom: #c6c;

    /* Colors that are shared in dark and light mode */
    --blur-shared: #151923de;
    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --status-green: #00cc9a;
    --status-blue: #2563eb;

    --condition-test-success: #00cc9933;
    --condition-test-error: #ff333333;

    --node-start-label-bg: #e5faf5;
    --node-start-label-fg: #00cc99;

    --node-fallback-label-bg: #fde9e9;
    --node-fallback-label-fg: #ff3333;

    --logo-red: #e86c4a;
    --logo-yellow: #ffc247;
    --logo-blue: #00a3ff;
    --bg-scrollbar: #c9d2e4;

    .dark {
      color: #ebebeb;

      --danger: #ff3333;
      --error-body: '#ff3333';

      --background: #212121;
      --foreground: #ebebeb;
      --bg-secondary: #121212;
      --fg-secondary: #f2f2f2;
      --chat-background: #363535;

      --btn-accent: #27272a;

      --node: #363535;
      --node-header: #212121;

      --border: #3b3a3a;
      --border-node-selected: #5c5b5b;
      --border-darker: #121212;
      --contrast-border: #eee;

      --header-btn-hover: #2e2d2d;

      --flow-card-trash-btn: #ef4444;

      --input-background: #212122;
      --input-background-disabled: #121212;
      --input-foreground: #ebebeb;
      --input-border: #909090;
      --input-border-focus: #fff;
      --input-border-error: #ff3333;

      --select-button: #27272a;
      --select-item-hover: #3f3f46;

      --table-background: #353434;

      --text: #ffffffe5;
      --text-secondary: #ffffffb2;
      --text-addition: #3f3f46;
      --btn-black: var(--accent);

      --radius: 0.5rem;

      --round-btn-shadow: #00000063;

      --double-active: #353434;
      --double-inactive: #212121;

      --success-background: #022c22;
      --success-foreground: #ecfdf5;

      --error-foreground: #fef2f2;
      --error-background: #450a0a;

      --info-foreground: #eff6ff;
      --info-background: #172554;

      --condition-default: rgba(51, 153, 204, 1);

      --node-start-label-bg: #00cc99;
      --node-start-label-fg: #e5faf5;

      --node-fallback-label-bg: #ff3333;
      --node-fallback-label-fg: #fde9e9;

      /* --condition-test-success: #00cc99;
      --condition-test-error: #ff3333; */

      --logo-red: #e55934;
      --logo-yellow: #ffbb33;
      --logo-blue: #018bd9;

      --bg-scrollbar: #353434;
    }

    --radius: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  @apply text-base;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: none;
}

#modal_root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;
}

table thead tr:nth-child(2) {
  display: none !important;
}

.cm-line {
  font-family: 'Roboto Mono', 'JetBrains Mono', monospace;
}

.cm-line span {
  font-family: 'Roboto Mono', 'JetBrains Mono', monospace;
}

.react-flow__node-default {
}

.default_node {
  width: 384px;
  font-size: 12px;
  text-align: center;
  @apply flex flex-col items-start justify-center rounded-node border border-border bg-node;
}

.agent_node {
  width: 280px;
  /* height: 326px; */
  font-size: 12px;
  text-align: center;
  @apply flex flex-col items-start justify-center rounded-node border border-border bg-node;
}

.selected .default_node {
  @apply border-node-selected;
}

.border-error {
  /* --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important; */
  @apply border-red-500;
}

.selected .border-error {
  @apply border-red-800;
}

.header-service-btn {
  @apply h-[34px] min-h-[34px] w-[34px] min-w-[34px] rounded border border-transparent bg-transparent hover:border-border hover:bg-header-btn-hover;
}

.header-service-btn svg {
  @apply h-5 w-5;
}

.drag-list-item {
  @apply relative flex w-full cursor-grab items-center justify-between overflow-hidden rounded-md border border-dashed border-border bg-bg-secondary px-2 py-1.5 pl-4 text-sm hover:border-node-selected;
}

.drag-item-span {
  @apply absolute left-0 top-0 block h-full w-2 bg-neutral-600;
}

.add-cnd-btn {
  @apply flex w-full items-center justify-center rounded-md border border-border-darker p-1 text-condition-default transition-colors hover:bg-node-header;
}

.build-menu {
  @apply flex w-max items-center justify-start gap-0.5 overflow-hidden rounded-md border border-border px-0.5 py-0.5 transition-all duration-300;
}

.build-menu-closed {
  @apply gap-0;
}

.build-menu-item {
  width: 34px !important;
  @apply h-[34px] max-h-[34px] min-h-[34px] w-[34px] min-w-[34px] max-w-[34px] rounded border-[1px] border-transparent bg-transparent transition-all duration-300 hover:border-border-darker hover:bg-header-btn-hover;
}

.build-menu-item-long {
  width: 52px;
}

.build-menu-item-disabled {
  min-width: 0 !important;
  width: 0 !important;
  @apply pointer-events-none m-0 scale-x-0 p-0 opacity-0;
}

.build-menu-item-active {
  @apply border-border-darker bg-header-btn-hover;
}

.flow-card {
  /* width: 796px;
  height: 180px; */
  max-width: 796px;
  width: calc(25% - 0.75rem);
  @apply relative flex h-40 flex-col items-start justify-between rounded-lg border border-border bg-background p-4 hover:border-node-selected;
}

.builded-check {
  @apply absolute bottom-0 h-[2px] w-4/5 rounded-t-xl;
}

.popup {
  transition: opacity 300ms ease-in-out;
}
/* .fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
} */

.select-content {
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.dropdown-content[data-state='open'] {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.dropdown-content[data-state='closed'] {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* Добавляем классы для анимаций */
.fade-in {
  animation: fade-in 0.2s ease-out forwards;
}

.fade-out {
  animation: fade-out 0.2s ease-in forwards;
}

.zoom-in {
  animation: zoom-in 0.2s ease-out forwards;
}

.zoom-out {
  animation: zoom-out 0.2s ease-in forwards;
}

input[type='password']::-ms-reveal {
  display: none;
}

span {
  font-size: inherit;
}

::-webkit-scrollbar {
  cursor: default;
  height: 12px;
  width: 12px;
  cursor: default;
}
::-webkit-scrollbar-thumb {
  height: 70px;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: var(--bg-scrollbar);
  -webkit-box-shadow: inset 0 0 0 1px var(--bg-scrollbar);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
