@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(../public/Inter-VariableFont.ttf);
}

@layer base {
  :root {
    font-family:
      "Inter",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #191919;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #fff;
    --foreground: #191919;
    --bg-secondary: #F9FAFC;
    --fg-secondary: #333;

    --chat-background: #ebf5fa;

    --node: #fff;
    --node-header: #F9FAFC;

    --border: #e4e8ee;
    --border-node-selected: #94a3b8;
    --border-darker: #d6dae0;
    --contrast-border: #111;

    --header-btn-hover: #f3f5f8;

    --flow-card-trash-btn: #fff;

    --condition-input-handle: #67b5ff;
    --condition-output-handle: #ff963b;
    --condition-link-input: #f5b75a;

    --text: black;

    --double-active: #fff;
    --double-inactive: hsl(210 40% 98%);

    --round-btn-shadow: #00000063;

    --error-background: #fef2f2;
    --error-foreground: #991b1b;

    --success-background: #f0fdf4;
    --success-foreground: #14532d;

    --info-background: #f0f4fd;
    --info-foreground: #141653;

    --high-indigo: #4338ca;
    --medium-indigo: #6366f1;

    --condition-default: #3300ff;
    --condition-custom: #c6c;

    /* Colors that are shared in dark and light mode */
    --blur-shared: #151923de;
    --build-trigger: #dc735b;
    --chat-trigger: #5c8be1;
    --status-red: #ef4444;
    --status-yellow: #eab308;
    --status-green: #00cc9a;
    --status-blue: #2563eb;

    --condition-test-success: #00cc9933;
    --condition-test-error: #ff333333;

    --node-start-label-bg: #e5faf5;
    --node-start-label-fg: #00cc99;

    --node-fallback-label-bg: #fde9e9;
    --node-fallback-label-fg: #ff3333;

    --logo-red: #E86C4A;
    --logo-yellow: #FFC247;
    --logo-blue: #00A3FF;

    .dark {
      color: #ebebeb;

      --background: #212121;
      --foreground: #ebebeb;
      --bg-secondary: #121212;
      --fg-secondary: #f2f2f2;
      --chat-background: #363535;

      --node: #363535;
      --node-header: #212121;

      --border: #3b3a3a;
      --border-node-selected: #5c5b5b;
      --border-darker: #121212;
      --contrast-border: #eee;

      --header-btn-hover: #2e2d2d;

      --flow-card-trash-btn: #ef4444;

      --text: white;
      --btn-black: var(--accent);

      --radius: 0.5rem;

      --round-btn-shadow: #00000063;

      --double-active: #353434;
      --double-inactive: #212121;

      --success-background: #022c22;
      --success-foreground: #ecfdf5;

      --error-foreground: #fef2f2;
      --error-background: #450a0a;

      --info-foreground: #eff6ff;
      --info-background: #172554;

      --condition-default: rgba(51, 153, 204, 1);

      --node-start-label-bg: #00cc99;
      --node-start-label-fg: #e5faf5;

      --node-fallback-label-bg: #ff3333;
      --node-fallback-label-fg: #fde9e9;

      /* --condition-test-success: #00cc99;
      --condition-test-error: #ff3333; */

    --logo-red: #E55934;
    --logo-yellow: #FFBB33;
    --logo-blue: #018BD9;

    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  @apply text-base transition-colors ease-in-out;
}

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: none;
}

.cm-line {
  font-family: "Roboto Mono", "JetBrains Mono", monospace;
}

.cm-line span {
  font-family: "Roboto Mono", "JetBrains Mono", monospace;
}

.react-flow__node-default {
}

.default_node {
  width: 384px;
  font-size: 12px;
  text-align: center;
  @apply flex flex-col items-start justify-center bg-node rounded-node border border-border;
}

.selected .default_node {
  @apply border-node-selected;
}

.border-error {
  /* --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity)) !important; */
  @apply border-red-500
}

.selected .border-error {
  @apply border-red-800;
}

.header-service-btn {
  @apply w-[34px] h-[34px] min-w-[34px] min-h-[34px] bg-transparent border border-transparent hover:bg-header-btn-hover hover:border-border rounded;
}

.header-service-btn svg {
  @apply w-5 h-5;
}

.drag-list-item {
  @apply w-full bg-bg-secondary py-1.5 px-2 pl-4 rounded-md border border-dashed border-border hover:border-node-selected cursor-grab relative overflow-hidden text-sm flex items-center justify-between;
}

.drag-item-span {
  @apply block absolute w-2 h-full bg-neutral-600 left-0 top-0;
}

.add-cnd-btn {
  @apply w-full text-condition-default p-1 flex items-center justify-center border border-border-darker rounded-md transition-colors hover:bg-node-header;
}

.build-menu {
  @apply w-max flex items-center justify-start gap-0.5 py-0.5 px-0.5 border border-border rounded-md transition-all duration-300 overflow-hidden;
}

.build-menu-closed {
  @apply gap-0;
}

.build-menu-item {
  width: 34px !important;
  @apply transition-all bg-transparent duration-300 border-transparent border-[1px] hover:border-border-darker hover:bg-header-btn-hover w-[34px] h-[34px] min-w-[34px] min-h-[34px] max-w-[34px] max-h-[34px] rounded;
}

.build-menu-item-long {
  width: 52px;
}

.build-menu-item-disabled {
  min-width: 0 !important;
  width: 0 !important;
  @apply p-0 m-0 pointer-events-none opacity-0 scale-x-0;
}

.build-menu-item-active {
  @apply bg-header-btn-hover border-border-darker;
}

.flow-card {
  width: calc(25% - 0.75rem);
  @apply h-40 bg-background border border-border rounded-lg p-4 hover:border-node-selected relative flex flex-col items-start justify-between;
}

.builded-check {
  @apply absolute w-4/5 h-[2px] rounded-t-xl bottom-0;
}
