name: build_and_publish_docs

on:
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  publish:
    name: build and publish docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: setup poetry
        run: |
          python -m pip install --upgrade pip poetry

      - name: install dependencies
        run: poetry install

      - name: build documentation
        run: poetry run make -C docs html

      - name: remove jekyll theming
        run: touch docs/_build/html/.nojekyll

      - name: deploy website
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/_build/html
          single-commit: True
